<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Student Overview</h2>
  </div>
  <div class="panel-body">
    <% for user in @users>
    <% @users.each do |user| %>
    <% end %>
