<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Your Match for today</h2>
    <% @days.each do |day| %>

    <h4><% if day.day = Date.today %>
      <%= day.day %></h4>

    <p><%= day.match.partition(' ').first%></p>
    <p><%= day.match.partition(' ').last%></p>
    <% end %>
    <% end %>
