<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Pairs</h2>
    <% @studentdays.each do |day| %>

    <h2><%= day.day %>
      |
      <%= day.match.partition(' ').first %>
      &
      <%= day.match.partition(' ').last %></h2>

    <% end %>
  </div>
