<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Pairs per day</h1>
    <% @days.each do |day| %>

    <h2><%= day.day %></h2>
    <h4><%= day.match %>
      <h4>

        <% end %>
      </div>

      <div class="panel-heading">
        <h2><%= link_to "Generate Pairs", new_admin_day_path, class: "btn btn-primary" %></h2>
        <h2><%= link_to "User overview", admin_users_path, class: "btn btn-primary" %></h2>

      </div>
